{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#online">Online</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#north">North</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#south">South</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="online">
    <br>
      <h2>Online Contact Details</h2>
    </br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane container fade" id="north">...</div>
  <div class="tab-pane container fade" id="south">...</div>
</div>
{% endblock %}
